#dark {
  & .add-todo {
    &__input {
      border-color: $d-lighter;
      &:focus {
        background-color: lighten($d-main-bg, 10%);
        color: $d-lighter;
        border-color: rgba(255, 255, 255, 0);
      }
    }

    &__label {
      color: darken($d-lighter, 25%);
    }
    @media (max-width: 500px) {
      & {
        background-color: darken($d-main-bg, 5%);
      }
    }
  }
}
