#dark {
  & .todo-item {
    &__container {
      color: $d-lighter;
      background-color: lighten($d-main-bg, 10%);
      box-shadow: none;
      border-color: $d-secondary-bis;

      &:hover {
        box-shadow: 0px 2px 10px 0px lighten($d-main-bg, 10%);
      }
      &--pinned {
        border-top: 4px solid $d-secondary-ter;
      }
      &--archived {
        border-color: $d-medium;
        background-color: lighten($d-main-bg, 5%);

        color: darken($d-lighter, 10%);
      }
    }
  }
}
