#dark {
  & .updateTodo {
    &__input {
      background-color: inherit;
      color: $d-lighter;
    }

    &__btns {
      & button {
        color: $d-lighter;
      }
    }

    &__tooltip {
      color: $dark;
    }
  }
}
