.btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 20px;
  border-radius: 8px;

  user-select: none;
  cursor: pointer;

  font-size: 15px;

  transition: 0.2s;

  &--tooltip {
    &:hover {
      &::after {
        content: attr(data-tooltip);
        position: absolute;
        top: 120%;
        z-index: 1;

        padding: 3px 10px;

        border: 1px solid $lighter-dark;
        border-radius: 8px;

        opacity: 0;
        background-color: lighten($main-bg, 5%);

        animation: tooltip-fade-in 1s forwards;

        font-size: 12px;
      }
    }
  }

  &--main {
    height: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;

    border: none;

    background-color: $primary;

    font-weight: 500;
    color: lighten($main-bg, 5%);

    & img {
      height: 100%;

      margin-right: -10px;
      margin-left: 10px;

      filter: invert(100%);
    }
    &:hover {
      translate: 0 -5%;

      background-color: darken($primary, 7%);
    }
  }

  &--secondary {
    height: unset;
    margin-top: 0;
    padding: 5px 20px;

    border: 1px solid $primary;

    background-color: $main-bg;

    color: $primary;
    font-weight: 500;

    &:hover {
      background-color: lighten($primary, 10%);
      color: white;
      border-color: lighten($primary, 10%);
    }
  }

  &--inline {
    padding: 0;

    border: none;

    background-color: unset;

    &:hover {
      background-color: $lighter-dark;
    }
  }

  &--medium {
    height: 30px;

    padding: 0 10px;
  }

  &--small {
    height: 30px;
    width: 30px;

    & img {
      width: 10px;
      height: auto;
    }
  }

  &--new-todo {
    height: 40px;

    margin: 0;
  }
}
