.theme-switch {
  position: relative;

  width: max-content;

  display: flex;
  gap: 12px;

  padding: 5px 5px;

  user-select: none;
  cursor: pointer;

  border-radius: 20px;

  background-color: $medium;
  font-size: 12px;

  &__cursor {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    height: 19px;
    width: 19px;

    border-radius: 20px;

    transition: 0.2s ease-in-out;

    &--dark {
      background-color: rgb(59, 59, 59);

      translate: 143% 2px;
    }

    &--light {
      background-color: lighten($main-bg, 5%);

      translate: 2px 2px;
    }
  }

  &__icon {
    height: 13px;

    filter: invert(100%);
  }
}
