.theme-switch {
  user-select: none;
  position: relative;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  width: max-content;

  &__cursor {
    position: absolute;
    height: 19px;
    width: 19px;
    background-color: rgb(220, 220, 220);
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    &--dark {
      background-color: rgb(59, 59, 59);

      translate: 143% 2px;
    }
    &--light {
      background-color: rgb(220, 220, 220);

      translate: 2px 2px;
    }
  }

  &__icon {
    height: 13px;
    filter: invert(100%);
  }
}
