$main-bg: #f1f0f0;
$primary: #4c60fc;
$secondary-ter: #b08c12;
$secondary-bis: #98a2ff;
$dark: #3b3663;
$medium: hsl(245, 14%, 46%, 0.8);
$lighter-dark: rgb(231, 231, 231);
$warning: rgba(255, 0, 0, 0.062);
$error: rgb(219, 0, 0);

//  Dark theme variables
$d-main-bg: #2b2747;
$d-primary: #909dff;
$d-secondary-ter: #b5a53f;
$d-secondary-bis: #7e76b5;
$d-lighter: #e9e9e9;
$d-medium: #817e94;
$d-lighter-dark: rgb(231, 231, 231);
$d-warning: rgba(173, 41, 41, 0.363);
$d-error: rgb(218, 109, 109);
