$main-bg: #f1f0f0;
$primary: #4c60fc;
$secondary-ter: #b08c12;
$secondary-bis: #98a2ff;
$dark: #3b3663;
$medium: hsl(245, 14%, 46%, 0.8);
$lighter-dark: rgb(231, 231, 231);
$warning: rgba(255, 0, 0, 0.062);
$error: rgb(219, 0, 0);
