body,
input,
button {
  font-family: 'Poppins', sans-serif;
}

body {
  color-scheme: light;
  background-color: $main-bg;
}

.App {
  height: 100vh;
  & .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
