body,
input,
button {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $main-bg;
}

.app {
  height: 100vh;
  overflow-y: auto;

  & .header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  & .main {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
