@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@-webkit-keyframes tooltip-fade-in {
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tooltip-fade-in {
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tooltip-fade-out {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes tooltip-fade-out {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

body {
  color-scheme: light;
  background-color: #f1f0f0;
}

.app {
  height: 100vh;
  overflow: scroll;
}
.app .header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.app .main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #3b3663;
  font-size: 28px;
}

h2 {
  color: hsla(245deg, 14%, 46%, 0.8);
  font-size: 16px;
  font-weight: 400;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

.sign-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: 45px 35px;
  border-radius: 5px;
}
.sign-page__icon {
  height: 30px;
  width: 30px;
  filter: invert(40%) sepia(91%) saturate(4054%) hue-rotate(224deg) brightness(98%) contrast(101%);
}

.btn {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  font-size: 12px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;
  padding: 3px 10px;
  opacity: 0;
  background-color: white;
  -webkit-animation: tooltip-fade-in 1s forwards;
          animation: tooltip-fade-in 1s forwards;
}
.btn--main {
  height: 50px;
  color: white;
  background-color: #4c60fc;
  border: none;
  margin-top: 15px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn--main img {
  height: 100%;
  filter: invert(100%);
  margin-left: 10px;
  margin-right: -10px;
}
.btn--main:hover {
  background-color: #2941fb;
  translate: 0 -5%;
}
.btn--secondary {
  background-color: #f1f0f0;
  color: #4c60fc;
  border: 1px solid #4c60fc;
  height: unset;
  margin-top: 0;
  padding: 5px 20px;
  font-weight: 500;
}
.btn--secondary:hover {
  background-color: #7e8dfd;
  color: white;
  border-color: #7e8dfd;
}
.btn--inline {
  background-color: unset;
  border: none;
  padding: 0;
}
.btn--inline:hover {
  background-color: #e6e6e6;
}
.btn--medium {
  height: 30px;
  padding: 0 10px;
}
.btn--small {
  height: 30px;
  width: 30px;
}
.btn--small img {
  width: 10px;
  height: auto;
}
.btn--new-todo {
  height: 40px;
  margin: 0;
  background-color: #4c60fc;
}

.sign-form {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-form__row {
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(158, 156, 180, 0.8);
  margin-bottom: 15px;
  width: 100%;
}
.sign-form__row::after {
  content: "";
  border-top: 2px solid #4c60fc;
  width: 100%;
  translate: 0 -2px;
  transition: 0.25s ease-in;
  scale: 0 1;
}
.sign-form__row--focus::after {
  width: 100%;
  scale: 1 1;
}
.sign-form__label {
  font-size: 16px;
}
.sign-form__input {
  font-size: 16px;
  height: 40px;
  color: dark;
  outline: none;
  border: none;
  padding-right: 25px;
  border-bottom: 1px solid rgba(221, 220, 229, 0.8);
}
.sign-form__input--error {
  background-color: rgba(255, 0, 0, 0.062);
  border-radius: 3px;
}
.sign-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
  bottom: 0;
  translate: 0 -75%;
  filter: invert(97%) sepia(0%) saturate(1262%) hue-rotate(174deg) brightness(94%) contrast(84%);
}
.sign-form__link {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  color: #7e8dfd;
  margin: 0 0 5px 0;
}
.sign-form__link:hover {
  color: #1a33fb;
}
.sign-form__error {
  font-size: 12px;
  color: rgb(219, 0, 0);
  align-self: flex-start;
  margin-top: -12px;
  margin-bottom: 12px;
}

.theme-switch {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.theme-switch__cursor {
  position: absolute;
  height: 19px;
  width: 19px;
  background-color: rgb(220, 220, 220);
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
.theme-switch__cursor--dark {
  background-color: rgb(59, 59, 59);
  translate: 143% 2px;
}
.theme-switch__cursor--light {
  background-color: rgb(220, 220, 220);
  translate: 2px 2px;
}
.theme-switch__icon {
  height: 13px;
  filter: invert(100%);
}

.list {
  width: 60%;
}
.list__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 7px 20px 4px 20px;
  border-radius: 5px;
  border-top: 4px solid #b08c12;
  box-shadow: 0px 2px 5px 0px rgb(212, 212, 212);
  font-size: 14px;
  cursor: pointer;
  transition: border-color 0.5s, translate 0.1s, box-shadow 0.1s;
}
.todo-item:hover {
  translate: 0 -1.5%;
  box-shadow: 0px 2px 5px 0px rgb(255, 255, 255);
}
.todo-item--pinned {
  border-color: #98a2ff;
  font-weight: 500;
}
.todo-item--archived {
  border-color: gray;
  color: rgb(83, 83, 83);
  font-weight: 300;
}
.todo-item__text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
}
.todo-item__btns {
  display: flex;
  gap: 7px;
}

.updateTodo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.updateTodo__input {
  font-style: italic;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(221, 220, 229, 0.8);
  flex-grow: 1;
  margin-right: 20px;
  padding-bottom: 3px;
}
.updateTodo__btns {
  display: flex;
  gap: 2px;
}

.add-todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  gap: 25px;
  margin: 50px 0 30px 0;
}
.add-todo__label {
  font-weight: 500;
  color: #3b3663;
}
.add-todo__input {
  background-color: inherit;
  border-radius: 8px;
  font-style: italic;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(221, 220, 229, 0.8);
  flex-grow: 1;
  margin-right: 20px;
  padding: 10px 20px;
}
.add-todo__input:focus {
  background-color: rgb(250, 250, 250);
}
.add-todo--tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  right: 50%;
  translate: 50% 0;
  bottom: 110%;
  font-size: 14px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;
  padding: 3px 10px;
  opacity: 1;
  background-color: white;
  -webkit-animation: tooltip-fade-out 2s forwards;
          animation: tooltip-fade-out 2s forwards;
}

#dark.app {
  background-color: rgb(73, 73, 73);
}/*# sourceMappingURL=index.css.map */