@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@-webkit-keyframes tooltip-fade-in {
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tooltip-fade-in {
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tooltip-fade-out {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes tooltip-fade-out {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f1f0f0;
}

.app {
  height: 100vh;
  overflow-y: auto;
}
.app .header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.app .main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #3b3663;
  font-size: 28px;
}

h2 {
  color: hsla(245deg, 14%, 46%, 0.8);
  font-size: 16px;
  font-weight: 400;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
}

.sign-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 45px 35px;
  border-radius: 5px;
  background-color: white;
}
.sign-page__icon {
  height: 30px;
  width: 30px;
  filter: invert(40%) sepia(91%) saturate(4054%) hue-rotate(224deg) brightness(98%) contrast(101%);
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}
.btn--tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  z-index: 1;
  padding: 3px 10px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  opacity: 0;
  background-color: #fdfdfd;
  -webkit-animation: tooltip-fade-in 1s forwards;
          animation: tooltip-fade-in 1s forwards;
  font-size: 12px;
}
.btn--main {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  border: none;
  background-color: #4c60fc;
  font-weight: 500;
  color: #fdfdfd;
}
.btn--main img {
  height: 100%;
  margin-right: -10px;
  margin-left: 10px;
  filter: invert(100%);
}
.btn--main:hover {
  translate: 0 -5%;
  background-color: #2941fb;
}
.btn--secondary {
  height: unset;
  margin-top: 0;
  padding: 5px 20px;
  border: 1px solid #4c60fc;
  background-color: #f1f0f0;
  color: #4c60fc;
  font-weight: 500;
}
.btn--secondary:hover {
  background-color: #7e8dfd;
  color: white;
  border-color: #7e8dfd;
}
.btn--inline {
  padding: 0;
  border: none;
  background-color: unset;
}
.btn--inline:hover {
  background-color: #e7e7e7;
}
.btn--medium {
  height: 30px;
  color: #e9e9e9;
  padding: 0 10px;
}
.btn--small {
  height: 30px;
  width: 30px;
}
.btn--small img {
  width: 10px;
  height: auto;
}
.btn--new-todo {
  height: 40px;
  margin: 0;
}

.sign-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.sign-form__row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: rgba(158, 156, 180, 0.8);
}
.sign-form__row::after {
  content: "";
  width: 100%;
  border-top: 2px solid #4c60fc;
  translate: 0 -2px;
  scale: 0 1;
  transition: 0.25s ease-in;
}
.sign-form__row--focus::after {
  width: 100%;
  scale: 1 1;
}
.sign-form__label {
  font-size: 16px;
}
.sign-form__input {
  height: 40px;
  padding-right: 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(221, 220, 229, 0.8);
  font-size: 16px;
  color: #1e1b32;
}
.sign-form__input--error {
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.062);
}
.sign-form__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  translate: 0 -75%;
  filter: invert(97%) sepia(0%) saturate(1262%) hue-rotate(174deg) brightness(94%) contrast(84%);
}
.sign-form__link {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 13px;
  text-decoration: none;
  color: #7e8dfd;
}
.sign-form__link:hover {
  color: #1a33fb;
}
.sign-form__error {
  align-self: flex-start;
  margin-bottom: 12px;
  margin-top: -12px;
  font-size: 12px;
  color: rgb(219, 0, 0);
}

.theme-switch {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 12px;
  padding: 5px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: hsla(245deg, 14%, 46%, 0.8);
  font-size: 12px;
}
.theme-switch__cursor {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 19px;
  width: 19px;
  border-radius: 20px;
  background-color: #fdfdfd;
  transition: 0.2s ease-in-out;
}
.theme-switch__cursor--dark {
  translate: 143% 2px;
}
.theme-switch__cursor--light {
  translate: 2px 2px;
}
.theme-switch__icon {
  height: 13px;
  filter: invert(100%);
}

.list {
  width: 60%;
}
.list__container {
  display: flex;
  flex-direction: column;
}

.todo-item {
  position: relative;
  transition: translate 0.2s;
}
.todo-item--dragged, .todo-item--hover {
  translate: 3% 0;
}
.todo-item__text {
  flex-grow: 1;
  margin: auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-item__btns {
  display: flex;
  gap: 7px;
}
.todo-item__container {
  display: flex;
  justify-content: space-between;
  padding: 7px 20px 4px 20px;
  margin-bottom: 10px;
  border-top: 4px solid #b08c12;
  box-shadow: 0px 2px 5px 0px #cecece;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  transition: translate 0.1s, box-shadow 0.1s;
}
.todo-item__container:hover {
  box-shadow: 0px 2px 2px 0px #e7e7e7;
}
.todo-item__container--pinned {
  border-color: #98a2ff;
  font-weight: 500;
}
.todo-item__container--archived {
  border-color: hsla(245deg, 14%, 46%, 0.8);
  color: #3b3663;
  font-weight: 300;
}

.updateTodo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.updateTodo__input {
  flex-grow: 1;
  margin-right: 20px;
  padding-bottom: 3px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(221, 220, 229, 0.8);
  font-style: italic;
}
.updateTodo__btns {
  display: flex;
  gap: 2px;
}

.add-todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 60%;
  margin: 50px 0 30px 0;
}
.add-todo__input {
  flex-grow: 1;
  padding: 10px 20px;
  margin-right: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(221, 220, 229, 0.8);
  background-color: inherit;
}
.add-todo__input:focus {
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}
.add-todo--tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  right: 50%;
  bottom: 110%;
  translate: 50% 0;
  padding: 3px 10px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;
  background-color: white;
  opacity: 1;
  -webkit-animation: tooltip-fade-out 2s forwards;
          animation: tooltip-fade-out 2s forwards;
  font-size: 14px;
}
.add-todo__label {
  font-weight: 500;
  color: #3b3663;
}

.dropdown {
  position: relative;
  width: 70px;
  color: hsla(245deg, 14%, 46%, 0.8);
  font-size: 13px;
}
.dropdown__selected {
  position: relative;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 31px;
  margin-top: 5px;
  color: hsla(245deg, 14%, 46%, 0.8);
}
.dropdown__selected[data-open=true] {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.dropdown__selected[data-open=true]:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 80%;
  left: 10%;
  height: 1px;
  background-color: #dadada;
}
.dropdown__img {
  height: 20px;
  margin-right: 5px;
  filter: invert(57%) sepia(13%) saturate(470%) hue-rotate(205deg) brightness(88%) contrast(96%);
}
.dropdown__options {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  border: rgb(235, 235, 235) 1px solid;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: white;
  overflow-y: auto;
}
.dropdown input[type=radio] {
  height: 0;
  width: 0;
  opacity: 0;
}
.dropdown__label {
  padding: 0 5px;
}
.dropdown__label:hover {
  color: #f1f0f0;
  background-color: #4c60fc;
}

#dark.app {
  background-color: #2b2747;
}

#dark .btn--main {
  color: #353057;
  font-weight: 600;
  background-color: #909dff;
}
#dark .btn--main:hover {
  translate: 0 -5%;
  background-color: #b4bdff;
}
#dark .btn--main img {
  filter: invert(18%) sepia(16%) saturate(1734%) hue-rotate(208deg) brightness(94%) contrast(92%);
}
#dark .btn--secondary {
  border: 1px solid #909dff;
  background-color: #2b2747;
  color: #909dff;
}
#dark .btn--secondary:hover {
  background-color: #c3caff;
  color: #2b2747;
  border-color: #c3caff;
}
#dark .btn--inline:hover {
  background-color: #7e76b5;
}
#dark .btn--small img {
  filter: invert(80%);
}

#dark .theme-switch {
  background-color: #817e94;
}
#dark .theme-switch__cursor {
  background-color: #211e37;
}

#dark .sign-page {
  background-color: #3f3968;
}
#dark .sign-page__icon {
  filter: invert(100%);
}

#dark .sign-form__input {
  border-bottom: 1px solid #e9e9e9;
  background-color: #3f3968;
  color: #e9e9e9;
  font-weight: 300;
}
#dark .sign-form__input--error {
  background-color: rgba(173, 41, 41, 0.363);
}
#dark .sign-form__row {
  color: darkgray;
}
#dark .sign-form__row::after {
  border-top: 2px solid #909dff;
}
#dark .sign-form__link {
  color: #909dff;
}
#dark .sign-form__link:hover {
  color: #b4bdff;
}
#dark .sign-form__error {
  color: rgb(218, 109, 109);
}

#dark h1 {
  color: #e9e9e9;
}
#dark h2 {
  color: #817e94;
}

#dark .add-todo__input {
  border-color: #e9e9e9;
}
#dark .add-todo__input:focus {
  background-color: #3f3968;
  color: #e9e9e9;
  border-color: rgba(255, 255, 255, 0);
}
#dark .add-todo__label {
  color: darkgray;
}

#dark .todo-item__container {
  color: #e9e9e9;
  background-color: #3f3968;
  box-shadow: none;
  border-color: #7e76b5;
}
#dark .todo-item__container:hover {
  box-shadow: 0px 2px 10px 0px #3f3968;
}
#dark .todo-item__container--pinned {
  border-top: 4px solid #b5a53f;
}
#dark .todo-item__container--archived {
  border-color: #817e94;
  background-color: #353057;
  color: #d0d0d0;
}

#dark .updateTodo__input {
  background-color: inherit;
  color: #e9e9e9;
}

#dark .dropdown {
  color: #e9e9e9;
}
#dark .dropdown__selected {
  background-color: #817e94;
  border: none;
  color: #e9e9e9;
}
#dark .dropdown__selected[data-open=true]:after {
  background-color: #9c9aab;
}
#dark .dropdown__img {
  filter: invert(9%) sepia(14%) saturate(2395%) hue-rotate(207deg) brightness(100%) contrast(92%);
}
#dark .dropdown__options {
  background-color: #817e94;
  border: none;
}/*# sourceMappingURL=index.css.map */